:root {
  --dark_blue: #070f4e;
  --blue: #007bff;
  --green: #3ab1c8;
  --white: #ffffff;
  --dirty_white: #f5ebeb;
  --font_color: #878787;
}

* {
  font-family: "Carlito", sans-serif;
}

#weather_container {
  padding: 2.5rem 2.25rem 2.625rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  max-width: 40rem;
  margin: 1.25rem 0;
}

header {
  margin: 0 6.15rem 0.625rem 0.75rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  padding-right: 30px;
  font-size: 1.1rem;
  text-decoration: none;
}

#city {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 2.75rem;
  outline: 0;
  width: 29rem;
  display: inline-block;
  border-radius: 12.5rem;
  padding: 0.5rem 1rem;
}

.btn {
  display: inline-block;
  border-radius: 200px;
}

.search {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-left: 1rem;
  padding: 0.4rem 0.9rem;
  font-size: 19px;
}

.current {
  background-color: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
  font: 17px;
}

.current:hover {
  cursor: pointer;
  background-color: var(--dirty_white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

#weather_screen_header {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

#current_city_weather,
#current_button {
  padding-left: 0;
}

#current_city_weather {
  max-width: 260px;
}

#current_city_weather p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: left;
}

#current_city_weather i {
  font-size: 16px;
}

#current_time {
  text-align: right;
  font-size: 17px;
  padding-right: 0;
}

#current_time p {
  margin-bottom: 0;
}

.ph-cloud-sun {
  font-size: 70px;
}

.ph-sun {
  font-size: 30px;
}

#weather_other_days {
  justify-content: center;
}
