#weather_container {
  padding: 40px 36px 42px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  margin: 20px 0;
}

header {
  margin: 0 6.15rem 0.625rem 0.75rem;
}

#city {
  max-width: 640px;
  display: inline-block;
  border-radius: 200px;
  padding: 0.5rem 1rem;
}

.btn {
  display: inline-block;
  border-radius: 200px;
}

#weather_screen_header {
  margin: 10px auto;
}

#current_time {
  text-align: right;
}

.ph-cloud-sun {
  font-size: 50px;
  width: 38;
  height: 38;
}

.ph-sun {
  font-size: 30px;
}

#weather_other_days {
  justify-content: center;
}
